---
import Default from '../../layouts/Default.astro';
import { type CollectionEntry, getCollection } from 'astro:content';
import InteriorHero from '../../components/InteriorHero.astro';
import Tag from '../../components/Tag';
import { getPostColorFromCategory } from '../../utlis/postUtlis';
import InteriorContent from '../../components/InteriorContent.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

type Props = CollectionEntry<'blog'>;

const post = Astro.props as Props;
const { category,title,description,author:{name,title:authorTitle} } = post.data;
const { Content } = await post.render();
---

<Default>
	<InteriorHero>
		<div>
			<div class="flex justify-center">
			<Tag color={getPostColorFromCategory(category)}>{category}</Tag>
		</div>
		<h1 class="font-heading font-black text-5xl lg:text-7xl md:text-6xl text-center mt-4">{title}</h1>
		<p class="text-center text-xl mt-8 text-zinc-400 max-w-2xl">{description}</p>
		<div class="flex flex-col items-center mt-8 gap-2">
			<div class="rounded-full size-16 bg-zinc-700 bg-cover bg-center"></div>
			<div class="font-extrabold text-lg">{name}</div>
			<div class="text-zinc-500">{authorTitle}</div>
		</div>
		
		</div>
	</InteriorHero>
	<InteriorContent>
			<div class="prose prose-invert prose-lg mx-auto prose-zinc prose-headings:font-headings prose-headings:font-black prose-h2:md:text-5xl prose-h2:text-3xl prose-h3:text-2xl prose-h3:md:text-3xl prose-h3:lg:text-4xl">
				<Content />			
			</div>
	</InteriorContent>
</Default>
